.footer {
  background-color: var(--cor-body);
}

.footer-div {
  display: flex;
  flex-direction: row;
  border-top: 1px solid;
  padding: 5px;
  justify-content: space-evenly;
}

.footer-div-endereco {
  display: flex;
  flex-direction: column;
}

.footer-div-redessociais {
  display: flex;
  flex-direction: column;
}

.footer-div-redessociais a:link {
  text-decoration: none;
}

.footer-div-funcionamento {
  display: flex;
  flex-direction: column;
}
