:root {

  --cor-body: antiquewhite;
  --cor-header: rgb(255, 224, 205);
  --cor-card: rgb(245, 238, 230);

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  background-color: var(--cor-body);
}

body {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  min-width: 100%;
  min-height: 100vh;
}